@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Color settings

$black: black;
$white: white;
$theme-c-light: #98c1ff;
$theme-c-lighter: #5197ff;
$theme-color: #2565C7;
$theme-c-darker: #123B77;
$theme-c-dark: #0b2347;


// Font families

h1, h2 ,h3 ,h4, h5, h6 {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

p {
    font-family: "Poppins", Arial, Helvetica, sans-serif; 
}
