// Global Settings

// Text

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

// Flex

.f-align-center {
    align-items: center;
}

.f-align-left {
    align-items: left;
}

.f-align-right {
    align-items: right;
}

.f-justify-center {
    justify-content: center;
}
.f-justify-left{
    justify-content: left;
}
.f-justify-right {
    justify-content: right;
}

// Padding

.p-10 {
    padding: 10px;
}
.p-20 {
    padding: 20px;
}
.p-30 {
    padding: 30px;
}
.p-40 {
    padding: 40px;
}
.p-50 {
    padding: 50px;
}
.p-60 {
    padding: 60px;
}
.p-70 {
    padding: 70px;
}
.p-80 {
    padding: 80px;
}
.p-90 {
    padding: 90px;
}
.p-100 {
    padding: 100px;
}

// Padding Top

.p-10 {
    padding: 10px;
}
.p-20 {
    padding: 20px;
}
.p-30 {
    padding: 30px;
}
.p-40 {
    padding: 40px;
}
.p-50 {
    padding: 50px;
}
.p-60 {
    padding: 60px;
}
.p-70 {
    padding: 70px;
}
.p-80 {
    padding: 80px;
}
.p-90 {
    padding: 90px;
}
.p-100 {
    padding: 100px;
}
   

// Margin 

.m-10 {
    margin: 10px;
}
.m-20 {
    margin: 20px;
}
.m-30 {
    margin: 30px;
}
.m-40 {
    margin: 40px;
}
.m-50 {
    margin: 50px;
}
.m-60 {
    margin: 60px;
}
.m-70 {
    margin: 70px;
}
.m-80 {
    margin: 80px;
}
.m-90 {
    margin: 90px;
}

.m-100 {
    margin: 100px;
}
