.flex-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1300px;
}

.container-fl-wd {
    max-width: 100%;
}

.flex-row {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 280px;
    min-height: 100px;
}

.flex-col-1 {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    flex-grow: 1.25;
    min-width: 280px;
    min-height: 100px;
}

.flex-col-2 {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    min-width: 280px;
    flex-grow: 1.5;
    min-height: 100px;
}

.flex-col-3 {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    min-width: 280px;
    flex-grow: 1.75;
    min-height: 100px;
}

.flex-col-4 {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    min-width: 280px;
    flex-grow: 2;
    min-height: 100px;
}

.flex-col-5 {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    min-width: 280px;
    flex-grow: 2.25;
    min-height: 100px;
}

.flex-col-6 {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    min-width: 280px;
    flex-grow: 2.5;
    min-height: 100px;
}