.form {
  form {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 60%;
    padding: 40px;
    margin: auto;

    h1 {
      text-align: center;
      margin-bottom: 30px;
    }

    input {
      width: 100%;
      padding: 10px;
      transition: 0.3s;
      font-size: 16px;
      border: none;
      border-bottom: 1px solid black;
    }

    input:focus {
      outline: none;
      border-bottom: 1px solid $primary-color;
    }

    input[type="radio"] {
      position: relative;
      appearance: none;
      border: 1px solid black;
      padding: 7px;
      border-radius: 50%;
      vertical-align: middle;
      width: auto;
    }

    input[type="radio"]::before {
      content: "";
      position: absolute;
      transition: 0.1s;
      transform: translate(-50%, -50%) scale(0);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $primary-color;
    }

    input[type="radio"]:checked::before {
      transform: translate(-50%, -50%) scale(1);
    }

    input[type="checkbox"] {
      position: relative;
      appearance: none;
      border: 1px solid black;
      padding: 7px;
      vertical-align: middle;
      width: auto;
    }

    input[type="checkbox"]::before {
      position: absolute;
      background-color: $primary-color;
      transition: 0.1s;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      transform: translate(-50%, -50%) scale(0);
      content: "";
      height: 10px;
      width: 10px;
    }

    input[type="checkbox"]:checked::before {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  textarea {
    width: 100%;
    padding: 5px 10px;
    transition: 0.3s;
    border: none;
    border: 1px solid black;
    font-size: 16px;
  }

  textarea:focus {
    outline: none;
    border: 1px solid $primary-color;
  }

  label {
    display: block;
    margin: 15px 0;
    font-weight: 500;
  }

  button {
    margin-top: 20px;
  }

  p {
    display: inline;
    vertical-align: middle;
    margin-left: 12px;
  }
}

.login-form {
  form {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 30%;
    padding: 40px;
    margin: auto;

    h1 {
      text-align: center;
      margin-bottom: 30px;
    }

    input[type="password"] {
      margin-top: 30px;
    }

    input {
      width: 100%;
      padding: 15px;
      transition: 0.3s;
      font-size: 16px;
      border: none;
      border-bottom: 1px solid black;
    }

    input:focus {
      outline: none;
      border-bottom: 1px solid $primary-color;
    }
  }

  a {
    display: block;
    text-decoration: none;
    transition: 0.3s;
    color: black;
    text-align: center;
    margin-top: 20px;
  }

  a:hover {
    color: $third-color;
  }

  button {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1280px) {
  .contact-form {
    form {
      width: 80%;
    }
  }

  .login-form {
    form {
      width: 80%;
    }
  }
}
