nav {
  width: 100%;
  display: flex;
  background-color: $white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 0 12%;
  height: 70px;
  align-items: center;

  h1 {
    font-size: 30px;
    color: $primary-color;
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;

    li {
      position: relative;

      a {
        text-decoration: none;

        .nav-link-text {
          display: none;
        }
      }

      .nav-link {
        color: #000;
        transition: 0.3s;
        font-size: 14px;
        font-weight: 500;
        margin: 0 20px;

        &:hover {
          cursor: pointer;
          color: $primary-color;
        }
      }
    }
  }
}

.nav-dropdown-button {
  display: none;
}

.dropdown-block {
  top: 45px;
  display: none;
  width: 200px;
  flex-direction: column;
  background-color: $white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: absolute;
}

.dropdown-block-active {
  display: flex;
}

.dropdown-caret {
  vertical-align: middle;
  margin-left: 10px;
}

.dropdown-link {
  color: #000;
  transition: 0.3s;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;

  &:hover {
    cursor: pointer;
    color: $primary-color;
  }
}

.dropdown-link:hover {
  background-color: #006aff31;
}

.nav-left {
  margin-right: auto;
  margin-left: 30px;
}

.nav-right {
  margin-left: auto;
  margin-right: 30px;
}

.nav-button-right {
  margin-left: 20px;
}

.burger-container {
  display: none;
}

// Mobile and Tablet View

@media screen and (max-width: 1280px) {
  nav {
    padding: 0 5%;
    justify-content: center;

    ul {
      display: none;
      background-color: $white;
      width: 80%;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      flex-direction: column;
      top: 70px;
      padding: 20px;
      overflow: hidden;
      position: fixed;

      li {
        a {
          display: block;
          width: 100%;
          padding: 20px;

          .nav-link-text {
            display: block;
            margin-top: 10px;
            font-size: 12px;
            color: #032c66d0;
          }

          &:hover {
            background-color: #006aff31;
          }
        }
        .nav-link {
          margin: 0px 0px;
        }
      }
    }

    .nav-button {
      display: none;
    }

    .burger-container {
      display: block;
      margin-left: auto;
    }

    .dropdown-button {
      display: block;
      width: 100%;
      margin-top: 10px;
    }
  }

  .dropdown-block {
    top: 45px;
    width: 200px;
    flex-direction: column;
    background-color: $white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 100%;
    position: static;
  }

  .nav-active {
    display: block;
  }

  .nav-left {
    margin-right: 0;
    margin-left: 0;
  }

  .nav-right {
    margin-left: 0;
    margin-right: 0;
  }
}
