.stats-container-1 {
  text-align: center;
  padding: 50px;
  background-color: $secondary-color;
  color: white;

  h1 {
    font-size: 48px;
  }

  .stats-sub {
    margin-top: 20px;
  }

  .stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;

    .stat-number {
      width: 250px;
      border-left: 1px solid $third-color;
      border-right: 1px solid $third-color;

      h1 {
        color: $third-color;
      }
    }
  }
}

.stats-container-2 {
  text-align: center;
  padding: 50px;

  h1 {
    font-size: 48px;
  }

  .stats-sub {
    margin-top: 20px;
  }

  .stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;

    .stat-number {
      width: 250px;
      padding: 10px;
      margin: 0 10px;

      h1 {
        color: $third-color;
      }
    }
  }
}
